# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Build
dist/
build/
frontend/dist/
*.exe
engine-cpp/engine.exe

# Logs & cache
*.log
npm-debug.log*
.cache/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
